/* * {
    border: 1px solid black;
} */

.primary {
    background-color: rgb(33, 185, 155) !important;
}

.top-bar, .top-bar ul {
    background-color: #fefefe !important;
}

.button.primary {
    background-color: rgb(138, 64, 151) !important;
}

